<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head',{title:title}) %>
  </head>

  <body>
    <%- include('partials/navbar') %> <%- include('partials/sidebar') %>
    <div class="p-4 sm:ml-64 mt-10">
      <section class="p-3 sm:p-5">
        <div class="shadow-md sm:rounded-lg mx-auto p-4 my-5">
          <div class="flex justify-between items-center">
            <h1 class="text-xl font-bold">Welcome</h1>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
